# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Data
data/MNIST/
data/FashionMNIST/
data/KMNIST/
data/cifar-10-batches-py/
data/cifar-100-python/
data/svhn/
*.tar.gz
*.mat